HEAD_IP=HEAD_IP
RANK_IPS='RANK_IP_1 RANK_IP_2 RANK_IP_3'
IMAGE='sha256:35c6f70ffcba62fd67d7b9d4b4e8300ad177201792ce9cdb1ea18fd449bc23b6'
WEIGHTS_DIR='WEIGHTS_DIR'
DRAFT_DIR='DRAFT_DIR'
OVERLAY_DIR='OVERLAY_DIR'
HOST_IP='THIS_RANK_IP'
RANK='RANK_NUMBER_0_TO_3'
DRY_RUN=1
