HEAD_IP=HEAD_IP
RANK_IPS='RANK_IP_1 RANK_IP_2 RANK_IP_3 RANK_IP_4 RANK_IP_5'
IMAGE='IMAGE_DIGEST_OR_LOCAL_BUILD'
WEIGHTS_DIR='WEIGHTS_DIR'
OVERLAY_DIR='OVERLAY_DIR'
GPTQ_CODES_DIR='GPTQ_CODES_DIR'
HOST_IP='THIS_RANK_IP'
RANK='RANK_NUMBER_0_TO_5'
DRY_RUN=1
